<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-referal" version="0.0.1">
  <name>referal</name>
  <js-module name="referal" src="www/referal.js">
    <clobbers target="cordova.plugins.referal"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="referal">
        <param name="android-package" value="com.neuraweb.cordova.referal"/>
      </feature>
    </config-file>
    <source-file src="src/android/referal.java" target-dir="src/com/neuraweb/cordova/referal"/>
  </platform>
</plugin>